.changeReminderOutterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url(../../Pictures/mainImage6.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: blur(2px); */
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: luminosity;
}

.changeReminderInnerDiv {
  border: 3px solid rgb(10, 160, 5);
  border-radius: 70px;
  margin: auto;
  padding: 15px;
  width: auto;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 120px;
  margin-bottom: 70px;
}

.changeReminderInputDiv,
.changeReminderButtonDiv {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 0;
}

.changeReminderInput {
  border: 2px solid black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  font-size: 15px;
  outline: none;
  text-align: center;
  padding: 0;
  transition: all 1s ease;
}

.inputLabel {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.changeReminderButton {
  border: 2px solid white;
  color: white;
  background-color: black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  outline: none;
  font-size: 18px;
  transition: all 1s ease;
}

.changeReminderInput:hover,
.changeReminderButton:hover {
  border: 2px solid yellow;
}

.changeReminderButton:active {
  transition: none;
  border: 2px solid green;
}

.fa-cog,
.fa-trash-alt {
  padding: 2px;
  font-size: 24px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  transition: 1s ease-in-out;
}

.fa-cog:hover,
.fa-trash-alt:hover {
  color: yellow;
}

.fa-cog:active,
.fa-trash-alt:active {
  transition: none;
  border: 2px solid green;
}

.reminderChangeValues {
  text-align: right;
}

.disabledChangeReminderInput {
  border: 2px solid black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  font-size: 15px;
  outline: none;
  text-align: center;
  padding: 0;
  transition: all 1s ease;
  color: black;
  background-color: rgb(200, 200, 200);
}
