.postReminderOutterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url(../..//Pictures/mainImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.postReminderTitle {
  font-size: 30px;
  color: white;
  margin: 20px;
}

.postReminderInnerDiv {
  border: 3px solid rgb(10, 160, 5);
  border-radius: 70px;
  margin: auto;
  padding: 15px;
  width: auto;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 120px;
  margin-bottom: 70px;
}

.postReminderInputDiv,
.postReminderButtonDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  padding: 0;
}

.postReminderInput {
  border: 2px solid black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  font-size: 15px;
  outline: none;
  text-align: center;
  padding: 0;
  transition: all 1s ease;
}

.disabledPostReminderInput {
  border: 2px solid black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  font-size: 15px;
  outline: none;
  text-align: center;
  padding: 0;
  transition: all 1s ease;
  color: black;
  background-color: rgb(200, 200, 200);
}

.postReminderButton {
  border: 2px solid black;
  color: white;
  background-color: black;
  border-radius: 80px;
  height: 35px;
  width: 240px;
  outline: none;
  font-size: 18px;
  transition: all 1s ease;
}

.postReminderInput:hover,
.postReminderButton:hover {
  border: 2px solid yellow;
}

.postReminderButton:active {
  transition: none;
  border: 2px solid green;
}
