.pricesOutterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url(../..//Pictures/mainImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricesInnerDiv {
  width: 50%;
  border: 2px solid black;
  box-shadow: 0 0 20px;
}
