@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap");

.navigationBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #9d372a;
  margin-top: 0;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 26px;
  text-decoration: none;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

body {
  margin: 0px;
}

.navigationBarLink,
.navigationBarLogo {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.navigationBarLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 24px;
}

.loginButton {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 24px;
  border-radius: 5px;
  border-color: black;
  background-color: rgba(76, 175, 80, 0.3);
  outline: none;
}

.loginButton:hover,
.navigationBarLink:hover,
.navigationBarLogo:hover {
  color: white;
}

.loginButton:active {
  border: 2px solid yellow;
}

.navigationBarLink:active,
.navigationBarLogo:active {
  color: yellow;
}

.fa-bars,
.fa-times {
  border-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  outline: none;
  font-size: 30px;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  transition: 1s ease-out;
  display: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.fa-bars:hover,
.fa-times:hover {
  color: rgb(50, 50, 50);
  font-size: 35px;
}

.fa-bars:active,
.fa-times:active {
  transition: none;
}

@media (max-width: 768px) {
  .navigationBarLinks {
    display: none;
  }

  .navigationBarLogo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .fa-bars,
  .fa-times {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
  }
}
