@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap");

.navigationBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(100, 136, 15);
  margin-top: 0;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 26px;
  text-decoration: none;
  height: 70px;
}

body {
  margin: 0px;
}

.navigationBarLink,
.navigationBarLogo {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.navigationBarLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 24px;
}

.loginButton {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 24px;
  border-radius: 5px;
  border-color: black;
  background-color: rgba(76, 175, 80, 0.3);
  outline: none;
}

.loginButton:hover,
.navigationBarLink:hover,
.navigationBarLogo:hover {
  color: white;
}

.loginButton:active {
  border: 2px solid yellow;
}

.navigationBarLink:active,
.navigationBarLogo:active {
  color: yellow;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 45px;
    right: 100px;
    background: rgb(145, 2, 2);
    width: 100px;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}
