.card {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  min-width: 150px;
  min-height: 100px;
  text-align: center;
  margin: 20px;
}

.gasStationParam {
  margin: 5px;
  white-space: nowrap;
  display: block;
  justify-content: space-around;
}

.linkToPricesDiv {
  display: flex;
  justify-content: center;
}

.pricesLink {
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  transition: all 1s ease;
}

.pricesLink:hover {
  border: 2px solid yellow;
  color: white;
}

.pricesLink:active {
  transition: none;
  border: 2px solid green;
}
